<p>Hello <%=  "#{@user.first_name} #{@user.last_name}" %>,</p>

  <p>Your InternetSoft Accout is created, please to reset your password. You can reset it by clicking the link below:</p>

  <p>
    <a <%= @user.email  %>"> Is Your User Name</a> and
    <a> "12345678" Is Your Current Password</a>
  </p>

  <p>This link is valid for 24 hours only.

  <p>Thank you,</p>

  <p>InternetSoft</p>
