<!-- app/views/sessions/new.html.erb -->

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <!-- InternetSoft Logo -->
  <div class="logo-container text-center mb-4">
    <h1 class="logo-text display-1 font-weight-bold text-success">InternetSoft</h1>
  </div>

  <div class="form-container text-center">
    <h2 class="mb-4">Welcome to InternetSoft</h2>

    <!-- Sign In Button -->
    <%= link_to 'Sign In', new_user_session_path, class: 'sign-in-btn btn btn-success btn-lg mb-3' %>

  </div>
</div>
